*{
    margin: 0;
    padding: 0;
}
 body{
    background-color: rgb(59 76 219 / 58%);
   text-align: center;
 }
 .container{
    height:70vh;
     display: flex;
    align-items: center;
    justify-content: center;
    
 }
 .game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
    
   

 }
 .box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 9px;
    border: none;
    font-size: 8vmin;
   
    background-color: rgb(142 53 89 / 72%);
 }
 #reset{
    padding: 1rem;
    background-color: rgb(5, 5, 60);
    color: white;
    font-size: 1.25rem;
    border-radius: 1rem;
    
 }
 #st-btn{
    padding: 1rem;
    background-color: rgb(243, 19, 19);
    color: white;
    font-size: 1.25rem;
    border-radius: 10px;
   
 } 
  #check{
         color: rgb(2 8 102);

         font-size: 8vmin;
         border-radius: 10px;
 }
 .msg {
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
      gap: 4rem;

    
 }
 .hide{
    display: none;
 }